
.main{
		background-color: lightblue;
		height: 150px;
		width: 12 	00px;
		text-align: center;
		
		margin-top: 50px;
		text-decoration-color: green;
	}


.results-section {


	align-content: center;
	margin:auto;
	border: 3px solid green;
    padding: 10px;
	background-color: lightgreen;
	text-align: center;

}